.welcomeH1 {
    background: #B2F785;
    background: linear-gradient(135deg, #B2F785, #00ffea);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  background: white;
  -webkit-text-fill-color: #000 !important;
  caret-color: black;
}